footer
  .inner
    a.address
      address
        span Dance N Magic
        span 913 Selby Ave
        span St. Paul, MN 55104
    a.email
      | info@dance-n-magic.com
    a.phone
      | (651) 688-3448
    a.facebook
      | Facebook
    a.instagram
      | Instagram
include ./javascripts.jade