header
  img.hat(src="")
  .inner
    span.title Dance n Magic
    nav
      a(href="/classes.html") classes
      |  | 
      a(href="/events.html") events
      |  | 
      a about us
      |  | 
      a blogs
      |  | 
      a contact
    a.log-in
      span log in
      