-var thisPage = "Classes"
-var lastUpdated = "11.01.2015"
doctype html
html(lang="en")
  head
    include ./jade/head.jade
  body
    include ./jade/header.jade
    main.classes
      h1 About Dance N Magic
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit neque id ligula gravida, a interdum dolor ultricies. Etiam eu neque aliquet libero rutrum ornare eget non tortor. Nam egestas in neque sed bibendum. Praesent laoreet egestas ipsum vel cursus. Pellentesque luctus ornare diam, ut mattis felis tincidunt a. Quisque condimentum tincidunt lorem at condimentum. Sed consequat tristique leo ac gravida. Morbi vel ante placerat, facilisis dui vel, fermentum enim. Praesent varius leo eu leo pretium porttitor. Curabitur viverra dui nibh, nec iaculis erat sagittis at. Integer orci dolor, tempus quis turpis sed, accumsan maximus turpis. Suspendisse faucibus aliquet dolor vitae blandit.
      p Nullam rhoncus nisl ut auctor porta. Praesent mi tellus, hendrerit et neque non, condimentum dapibus leo. Nam aliquet metus sed mi molestie facilisis. Nullam dapibus venenatis orci, in sodales purus tempor non. Duis venenatis purus nec metus aliquet maximus. Nunc egestas sed ante non lobortis. Donec at purus sed sapien blandit placerat. 
    include ./jade/footer.jade
    