-var thisPage = "About Us"
doctype html
html(lang="en")
  head
    include ./jade/head.jade
  body
    include ./jade/header.jade
    main.about-us
      h1 About Dance N Magic
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit neque id ligula gravida, a interdum dolor ultricies. Etiam eu neque aliquet libero rutrum ornare eget non tortor. Nam egestas in neque sed bibendum. Praesent laoreet egestas ipsum vel cursus. Pellentesque luctus ornare diam, ut mattis felis tincidunt a. Quisque condimentum tincidunt lorem at condimentum. Sed consequat tristique leo ac gravida. Morbi vel ante placerat, facilisis dui vel, fermentum enim. Praesent varius leo eu leo pretium porttitor. Curabitur viverra dui nibh, nec iaculis erat sagittis at. Integer orci dolor, tempus quis turpis sed, accumsan maximus turpis. Suspendisse faucibus aliquet dolor vitae blandit.
      section.instructors
        h2 Our Instructors
        img.cover(src="https://unsplash.it/600/400/?random")
        p In facilisis sem non pretium porta. Ut at dui quis sem sodales placerat. Morbi faucibus egestas egestas. Nam velit tortor, ultricies eget vulputate vel, aliquam ut est. Sed bibendum nunc quis varius iaculis. Nulla et vulputate lacus. Curabitur efficitur tellus at maximus rhoncus. Ut quis aliquam magna. Quisque dapibus leo magna, et gravida tortor scelerisque in. Nullam sed augue id mi pharetra tincidunt a eget odio. Praesent vitae mauris aliquam, mattis mi eget, convallis orci. Nulla volutpat lacus et quam ornare tristique. Aenean non semper eros.
        p
          a.button(href="staff.html") Meet Our Staff
      section.faq
        h2 Questions?
        p In facilisis sem non pretium porta. Ut at dui quis sem sodales placerat. Morbi faucibus egestas egestas. Nam velit tortor, ultricies eget vulputate vel, aliquam ut est. Sed bibendum nunc quis varius iaculis. Nulla et vulputate lacus. Curabitur efficitur tellus at maximus rhoncus. Ut quis aliquam magna. Quisque dapibus leo magna, et gravida tortor scelerisque in. Nullam sed augue id mi pharetra tincidunt a eget odio. Praesent vitae mauris aliquam, mattis mi eget, convallis orci. Nulla volutpat lacus et quam ornare tristique. Aenean non semper eros.
        dl.faq
          dt.question Why does the sun shine?
          dd.answer In facilisis sem non pretium porta. Ut at dui quis sem sodales placerat. Morbi faucibus egestas egestas. Nam velit tortor, ultricies eget vulputate vel, aliquam ut est. Sed bibendum nunc quis varius iaculis. Nulla et vulputate lacus. Curabitur efficitur tellus at maximus rhoncus. Ut quis aliquam magna. Quisque dapibus leo magna, et gravida tortor scelerisque in. Nullam sed augue id mi pharetra tincidunt a eget odio. Praesent vitae mauris aliquam, mattis mi eget, convallis orci. Nulla volutpat lacus et quam ornare tristique. Aenean non semper eros.
          dt.question Can you help me?
          dd.answer No.
          dt.question Question Number Two
          dd.answer In facilisis sem non pretium porta. Ut at dui quis sem sodales placerat. Morbi faucibus egestas egestas. Nam velit tortor, ultricies eget vulputate vel, aliquam ut est. Sed bibendum nunc quis varius iaculis. Nulla et vulputate lacus. Curabitur efficitur tellus at maximus rhoncus. Ut quis aliquam magna. Quisque dapibus leo magna, et gravida tortor scelerisque in. Nullam sed augue id mi pharetra tincidunt a eget odio. Praesent vitae mauris aliquam, mattis mi eget, convallis orci. Nulla volutpat lacus et quam ornare tristique. Aenean non semper eros.
    include ./jade/footer.jade
    