-var thisPage = "Blog Post"
-var lastUpdated = "11.01.2015"
doctype html
html(lang="en")
  head
    include ./jade/head.jade
  body
    include ./jade/header.jade
    main.blog
      article.blog-post
        h1 Title of the blog post, maybe it's kind of long or something.
        .by-line
          | posted by 
          span.author Anna Tilsen-Mogen
          |  on
          time.published November 11th, 2015 @ 2015
        img.left(src="https://unsplash.it/200/400")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in condimentum turpis. Proin hendrerit massa arcu, vel aliquet augue tempor in. Vestibulum sed ipsum non velit iaculis semper. Donec quis nunc odio. Fusce scelerisque vestibulum ex id tempor. Etiam vulputate felis malesuada blandit convallis. Nulla vestibulum ultricies ipsum, eu pretium lectus porta eu.
        p Sed nisl diam, fringilla eu ornare eget, eleifend vel lectus. Duis imperdiet consectetur leo vitae dapibus. Morbi consectetur nibh id pellentesque sagittis. Nullam dignissim a diam eu cursus. Praesent urna lorem, maximus in convallis efficitur, finibus vehicula purus. Aliquam non tincidunt diam, et placerat felis. Mauris vitae justo quis risus faucibus luctus nec at arcu. Fusce in interdum lectus. Duis commodo libero quis est commodo pharetra. Aenean orci sem, tincidunt in mollis id, ultrices eget ante. Vivamus non bibendum odio, nec dictum velit. Etiam bibendum risus vitae erat interdum consectetur in id nisl. Ut non nibh sem. Nulla fermentum erat id quam finibus, vitae pharetra enim dignissim.
        p Aenean varius lobortis nisl at porttitor. Proin nec condimentum purus. Nunc lacus risus, ultricies id pharetra a, volutpat eu est. Nullam sit amet malesuada tortor. Suspendisse at urna in turpis vestibulum eleifend nec ut mi. Maecenas blandit consectetur lectus non viverra. Pellentesque non lacinia justo. Mauris condimentum risus ac odio tincidunt sollicitudin. Proin porttitor velit at elit feugiat vulputate. Duis maximus eros eu tellus ultrices porta. Pellentesque laoreet dolor eget nulla egestas, eget condimentum ex faucibus.
        p Nunc bibendum tincidunt orci, ut sollicitudin massa hendrerit ut. Nulla in elit augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus ullamcorper est ut ultricies iaculis. Pellentesque gravida sapien nibh, sit amet ornare diam vulputate a. Nam tincidunt orci in dolor ornare, eget convallis nisl maximus. Nunc hendrerit, nisi sed viverra accumsan, dui neque tempor est, vel vulputate eros nisl ac arcu. Phasellus lorem metus, commodo sit amet erat at, pellentesque varius arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras tempor hendrerit consectetur. Nullam nec pretium arcu. Suspendisse maximus ipsum enim, sed consectetur turpis efficitur eget.
        img.right(src="https://unsplash.it/320/200")
        p Ut sit amet condimentum lacus. Morbi nisi nisi, euismod vitae ultricies nec, tincidunt vulputate lectus. Phasellus nibh lectus, posuere vel fringilla eget, tincidunt in urna. Vestibulum quis consequat dui, vel aliquam turpis. Sed vel diam scelerisque, ornare orci sed, elementum sem. Cras vulputate convallis tellus, et ornare arcu iaculis vitae. Vivamus congue semper sapien in aliquam. Integer vehicula quam lectus, ac aliquam arcu faucibus blandit. Pellentesque vehicula aliquet quam, eget interdum diam mattis sit amet. Sed non vestibulum felis, eu egestas purus.
        p Nam ac erat vitae ligula feugiat mollis. Mauris ornare nisi eros, nec pellentesque metus vestibulum eget. Cras laoreet, massa non posuere cursus, metus purus sagittis quam, non faucibus leo turpis sit amet justo. Fusce malesuada interdum nibh et sollicitudin. Donec facilisis lobortis quam id sollicitudin. Duis nisl risus, placerat vitae sollicitudin mattis, fringilla in arcu. Proin pretium odio eu hendrerit ultrices. Sed vehicula sagittis lorem sit amet ornare. Mauris tempus gravida turpis et ullamcorper. Praesent eleifend ligula ac pulvinar posuere. Integer efficitur dictum nibh.
        p Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus nibh quam, dignissim semper ipsum id, sagittis varius turpis. Sed volutpat diam orci, sit amet consequat justo maximus ac. Cras malesuada odio et purus ullamcorper facilisis. Donec quis leo turpis. Vivamus mattis mattis massa, quis porta elit malesuada et. Suspendisse urna enim, malesuada a gravida nec, aliquam nec risus. Quisque sed aliquam tellus. Aenean eu nulla venenatis, convallis tellus sed, aliquam erat.
        img.centered(src="https://unsplash.it/800/260")
        p Suspendisse blandit, enim rhoncus ultricies vestibulum, ipsum ligula blandit quam, quis pulvinar ante nibh non tellus. Phasellus in felis ex. Morbi nec orci neque. Maecenas velit elit, sollicitudin et efficitur non, tincidunt volutpat orci. Vestibulum eget nulla leo. Integer ipsum lectus, rutrum a erat in, rutrum pulvinar eros. Integer non vestibulum est, ut iaculis felis. In in commodo turpis. Vivamus varius accumsan pharetra.
        p Aenean justo est, dignissim sit amet lectus sodales, sodales malesuada arcu. Nulla tempus, sem quis eleifend mollis, turpis nulla congue tortor, vel suscipit mi diam at diam. Maecenas ut iaculis mauris. Pellentesque rhoncus efficitur tortor eget lacinia. Vestibulum ultricies tortor ut augue ultricies tempor. Sed molestie dolor ac enim dapibus, id maximus augue dapibus. Donec risus lectus, efficitur id turpis sed, tempus auctor tellus. Integer a sodales neque, at tincidunt nisi.
        p Praesent interdum posuere nunc, vitae tempus quam semper vel. Maecenas dapibus in diam sed tincidunt. Nullam bibendum nisi sed congue venenatis. Pellentesque sem leo, ultricies quis tristique et, porta id tellus. Aenean justo ligula, venenatis vel suscipit vitae, lobortis ut metus. Aliquam nunc lectus, tempus vel tortor cursus, condimentum malesuada ipsum. Nulla in rhoncus magna. Nam sed nibh in odio imperdiet mattis vel vitae elit. Suspendisse potenti. Proin vulputate nec augue eu pellentesque. Ut viverra leo sit amet metus vehicula, vel vestibulum magna volutpat.
        .tags
          span.label Tagged with:
          a.tag Nulla efficitur
          a.tag Donec pellentesque tellus
          a.tag Cras
          a.tag tellus massa
      include ./jade/signup.jade
    include ./jade/footer.jade