-var thisPage = "Classes"
-var lastUpdated = "11.01.2015"
doctype html
html(lang="en")
  head
    include ./jade/head.jade
  body
    include ./jade/header.jade
    main.classes
      h1 FIND A CLASS
      .class-finder
        .criteria.age
          label age
          input#AgePick(type="number" step="1" min="2" max="100" placeholder="all")
        .criteria.gender
          label gender
          select#SelectGender
            option(value="both") both
            option(value="F") female
            option(value="M") male
        .criteria.level
          label level
          select
            option any
            option beginner
            option intermediate
            option advanced
        .criteria.day
          label Day of Week
          select#ClassDay
            each val in ['any', 'Mondays', 'Tuesdays', 'Wednesdays', 'Thursdays', 'Fridays', 'Saturdays', 'Sundays']
              option(val="#{val}")= val
      .class-listing
        article.featured-class
          img.cover(src="https://unsplash.it/400/200/?random")
          h3 FREE CLASS
          summary
            p Quisque vel metus at sem venenatis consequat eu sed dui. Sed eu nunc sit amet diam tincidunt sodales. Etiam eu dapibus nulla, et aliquam ex. Morbi sit amet nisi pellentesque, tristique justo nec, lacinia mi. Morbi convallis sit amet neque et finibus.
          .button-holder
            a.button SIGN UP
        +class("Dancercise Kids", "Mondays", "2", "6", "", "Sept 8th", "June 12th", "5:50pm", "6:20pm", "$43")
          p High Energy, Fun, and Educational way to Learn Dance Extended Tap for ages 3+
        +class("Ext Tap", "Mondays", "3","6", "", "Sept 8th", "June 12th", "6:20pm", "6:30pm", "$8", true)
          p Reduces to $6/month add on, Optional Extended Tap for Students age 3-6 Must be enrolled in a Dancercise class.
        +class("Tap, Jazz & Ballet Combo", "Tuesdays", "4", "6", "", "Sept 8th", "June 12th", "5:30pm", "6:30pm", "$59")
          p Fun Combo class for Beginners
        +class("Hip Hop", "Fridays", "4", "6", "", "Sept 8th", "June 12th", "5:30pm", "6:00pm", "$43")
          p Fun Hip Hop focused class for Beginners
        +class("Ballet", "Thursdays", "4", "6", "", "Sept 8th", "June 12th", "5:30pm","6:00pm", "$43", true)
          p Fun Ballet Focused Class for Beginners
        +class("Tumbling & Acrobatics", "Wednesdays", "4", "6", "", "Sept 8th", "June 12th", "5:30pm", "6:00pm", "$43")
          p Learn Tumbling and Acrobatic Dance Style
        +class("Petite Elite Performance Team", "Thursdays", "5", "8", "", "Sept 8th", "June 12th", "5:30pm", "6:00pm", "$59")
          p Instrutor invite ONLY, additional pre-team required
        +class("Hip Hop Performance Team", "Thursdays", "6","15", "M", "Sept 8th", "June 12th", "6:45pm", "7:45pm", "$59")
          p Commitment based, additional break tech req.
        +class("Pre-Team Ballet & Jazz", "Thursdays", "6","10", "", "Sept 8th", "June 12th", "6:30pm", "7:30pm", "$59", true)
          p Intermediate Level- Focus on Technique and Performance Skills
        +class("Beginner Ballet: Lyrical & Technique", "Mondays", "7", "10", "", "Sept 8th", "June 12th", "5:00pm", "7:30pm", "$59", true)
          p Intermediate Level- Focus on Technique and Performance Skills
        +class("Intermediate Tap, Jazz & Ballet Combo", "Tuesdays", "8", "17", "", "Sept 8th", "June 12th", "6:30pm", "7:30pm", "$59")
          p Fun Combo Class that works on skills at an Intermediate level
        +class("Intermediate Breakdance", "Fridays", "8", "17", "", "Sept 8th", "June 12th", "6:00pm", "6:45pm", "$53")
          p Build your break dance technique and Choreography at an Intermediate level
    include ./jade/footer.jade
    