-var thisPage = "Class"
-var lastUpdated = "11.01.2015"
doctype html
html(lang="en")
  head
    include ./jade/head.jade
  body
    include ./jade/header.jade
    main.class
      h1 Name of Class
      
      