-var thisPage = "Events"
-var lastUpdated = "11.01.2015"
doctype html
html(lang="en")
  head
    include ./jade/head.jade
  body
    include ./jade/header.jade
    main.events
      h1 Upcoming Events
      .event-listing
        +event("Fun Mini Camp Funraiser for Horace Mann PTA", "Monday, November 22", "1:00pm-2:30pm", "$15", true)
          p Fun for Boys and Girls! Join us as we travel “Around the World” in this fun mini-camp that includes learning a Fun Dance (no experience necessary), Games, a Craft Project, and a special gift. Best of all, all of the profits will be donated to the Horace Mann PTA!
        +event("Hip Hop Nutcracker", "Monday, November 23", "6:00pm-8:00pm", "$35", true)
          p Dance-N-Magic will be hosting a special Master Class when the Hip Hop Nutcracker comes to the Ordway! This 2 hour master class is welcoming to all levels of dancers! Taught by cast member Robert Taylor Jr.
        +specialEvent("Private Lessons")
          p Private Lessons are to be scheduled with the Dance-N-Magic Office. Cost: $50/hr for a solo private lesson, $60/hr ($30/ person/hr) for a duet private lesson, $69/hour ($23/person/hr) for a trio private lesson
    include ./jade/footer.jade
    