-var thisPage = "Home"
-var lastUpdated = "11.01.2015"
doctype html
html(lang="en")
  head
    include ./jade/head.jade
  body
    include ./jade/header.jade
    main.home
      .cover
      .center-content
        .content
          //h1 MISSION STATEMENT
          summary At Dance-N-Magic we are using dance and music to inspire hearts, engage minds, create self worth, enjoy activity, and build character for our amazing students. We do this in our family friendly and welcoming atmosphere; using our excellent and engaging curriculum taught by professional educators who have a passion for dance and a passion for teaching. We are learning Dance to build confidence, skills, have Fun, and create Magic!
          .button-holder
            a.button(href="classes.html")
              span.first SIGN UP FOR A
              span.second FREE CLASS
    include ./jade/footer.jade