body { font-family:$font; font-size:$font-size; background-color:$body-color; color:$black; }

h1, h2, h3 { font-weight: $light; }
h1 { font-size:3.4rem; }
h2 { font-size:2.5rem; }
h3 { font-size:1.9rem; }
p { padding-bottom: 1em; }

.button-holder { text-align: center; }
button, .button { display: inline-block; background-color:$link-color; color:$white; font-size:1.5em; padding:0.25em 1em; cursor: pointer; text-decoration: none;
  &:hover { background-color:lighten($link-color,10%); box-shadow: 0.1em 0.1em 0.1em darken($link-color,50%); }
  &:active { background-color:darken($link-color,3.5%); box-shadow:inset 0.2em 0.2em 0.1em darken($link-color,50%); }
}
a { color:$link-color; }

main { padding: $base-margin; }