main.events {
  h1 { margin-bottom: 0.5em; }
}

.event-listing { @include flex-container(); margin-left: -1em; margin-right: -1em; }

.event { @include flex-item(calc(33.3333% - 2em)); margin-left: 1em; margin-right: 1em; margin-bottom: 2em; background-color:white; padding: 1em; position: relative; @extend %border;
  h3 { margin-bottom: 0.5em; }
  .cover { margin-bottom: 0.5rem; }
  time { display: block; }
  .cost { float: right; font-size:2em; }
  .button { width: 100%; text-align: center; position: absolute; right:0; bottom:0; left:0; }
  
}

.special-event { @include flex-item(calc(33.3333% - 2em)); margin-left: 1em; margin-right: 1em; margin-bottom: 2em; background:$border-color; position:relative;
  .inner { padding: 1em; color:white; text-shadow: 1px 1px 0 black; }
  button, .button { position: absolute; right:0; bottom:0; left:0; }
  
}