footer { background-color:$dark-purple; color:$pink; padding:1em $base-margin;
  a { color:$pink; }
  .inner { @include flex-container();
    section { @include flex-item(33.3333%);}
  }
  .address { position: relative;
    span { display: block; }
    img.logo { width:2rem; width:2rem; position: absolute; top:0.5rem }
    address { margin-left: 3em; }
  }
  .contact {
    a { display: block;
      &.email { margin-bottom: 1em; }
    }
  }
}