header { background:$header-color; color:$yellow; padding:1em $base-margin;
  .title { font-size:2.5em; }
  nav { text-align: right; text-transform: uppercase;
    a { color:$yellow; text-decoration: none;
      &:hover { font-weight: $bold; }
    }
  }
}