// FONTS
$font: 'Raleway', sans-serif;
$font-size:16px;
$light:300;
$normal:400;
$bold:700;

// COLORS
$purple:#865F8C;
$yellow:#DFB440;
$green:#138C68;
$purple-alt:#BF29D9;
$green-alt:#0FA678;
$light-grey:#D7D7D9;
$black:#131313;

// COLOR UTILITIES
$header-color: $purple;
$footer-color: $purple;
$body-color: $light-grey;
$link-color:$green;



//MEASUREMENTS
$base-margin:4rem;


// ANIMATIONS
$easeBounce: cubic-bezier(0, 2, 1, 1);