main.home { padding:0; position: relative; background-size:cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;
  //.cover {  position: absolute; top:0; right:0; bottom:0; left:0; color:$white; opacity: 0.5; }
  .button { text-align: center; 
    span { display: block; }
    .first { font-size:0.9em; }
    .second { font-size:1.2em; }
  }
  .center-content { position: relative; z-index: $z-home-content; color:$white; top:0; right:0; bottom:0; left:0;
    @include flex-container(row, wrap, center); background-color:rgba($black,0.8);
    .content { }
    summary { display: block; margin-bottom: 1em; font-weight: $light; text-align: center; text-shadow:0 0 0.2em $black; }
  }
}

.social-container { @extend %clearfix;
  .share-label { line-height: 300%; display:block; float: left; padding-right: 0.5em; }
  .social-buttons { display: inline-block; }
  a.social { display: inline-block; position: relative;
    @include respondTo(mobile) { width:32px; width:32px; margin-right:10px; }
    @include respondTo(desktop) { width:3em; height: 3em; margin-right: 1.5em; }
    svg { transform-origin: center; transition: all 0.15s ease; }
    &.facebook { 
      svg * { fill:$color-facebook; }
      .label { background:$color-facebook; }
    }
    &.twitter {
      svg * { fill:$color-twitter; }
      .label { background:$color-twitter; }
    }
    &.pinterest {
      svg * { fill:$color-pinterest; }
      .label { background:$color-pinterest; }
    }
    &.googleplus {
      svg * { fill:$color-googleplus; }
      .label { background:$color-googleplus; }
    }
    &.linkedin { 
      svg * { fill:$color-linkedin; }
      .label { background:$color-linkedin; }
    }
    &.email { 
      svg * { fill:$link-color; }
      .label { background:$link-color; }
    }
    
    .label { position: absolute; top:0.8em; white-space: nowrap; padding: 0.5em; transition:all 0.15s cubic-bezier(.65,.05,.36,1); opacity:0; color:$white; pointer-events: none;
      left: 3.4rem; transform:translateX(-100%); z-index: 3; font-size: 0.8em;
    }
    &:hover { 
      svg { transform: scale(1.2); }
      .label { transform:translateX(0); opacity: 1; }
    }
  }
}

@media (max-width:$mobile-max) {
  .center-content { padding:3rem 1rem 6rem 1rem; 
    summary { font-size:1.5rem; }
  }
}
@media (min-width:$desktop-min) {
  .center-content { padding: $base-margin; min-height: calc(100vh - 153px);
    summary { font-size:3vw; }
  }
}