section.blog-signup
  .form-holder
    h3 Looking for more?
    p Sign up for our mailing list to pretium odio eu hendrerit ultrices. Sed vehicula sagittis lorem sit amet ornare. Mauris tempus gravida turpis et ullamcorper.
    form
      .full-width
        input(type="email" placeholder="email address" required)
      .half-width
        label
          input(type="checkbox" required)
          span Opt In to receive emails from Dance N Magic
      .half-width
        button.submit(type="submit") Sign Up